
/*desktop*/
@media only screen and (min-width: 1440px) {
    .cardsStyle {flex-direction: row;}
}

/*mobile*/
@media only screen and (max-width: 375px) {
    .cardsStyle {flex-direction: column;}
}

.cardsStyle {
    display: flex;
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    box-shadow: 1px 1px 15px darkgray;
    padding: 150px 200px;
}