.cardsStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-radius: 10px;
    font-family: Lexend Deca, Big Shoulders Display;
    font-weight: 400;
}